@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&display=swap");
@import "tailwindcss";

.background-image {
  background-image: url("../images/bg-2.gif");
  background-size: cover;
  background-position: center center;
}

.read-more-link {
  position: relative;
  display: inline-block;
}

.read-more-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #008ad3;
  transition: width 0.3s ease-in-out;
}

.read-more-link:hover::after {
  width: 100%;
}

.primary-btn {
  background-color: #008ad3;
  border-radius: 30px;
  padding: 10px 30px;
  font-weight: bold;
}


/* Make Syne the default site font */
body {
  font-family: "Syne", sans-serif;
}
